<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>K-Drama Recommender</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">K-Drama Recommender</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="py-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3"></div>
          <div class="col-md-6 center">
            <form action="/" method="POST">
              <div class="mb-3">
                <label for="title" class="form-label">Choose a K-Drama:</label>
                <select class="form-select" id="title" name="title">
                  {% for j in list_drama %}
                  <option value="{{ j }}">{{ j }}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
        {% if status %}
        <div class="row text-center mt-5">
          <div class="col-md-12">
            <h4>Recommended K-Dramas For: {{ title }}</title></h4>
          </div>
        </div>
        <div class="row text-center mt-3">
          {% for i in range(0,8) %}
          <div class="col-md-3 mb-3">
            <div class="card">
              <img src="{{ poster[i] }}" class="card-img-top" alt="{{ drama[i] }}">
              <div class="card-body">
                <h5 class="card-title">{{ drama[i] }}</h5>
                <p class="card-text">Available on : {{ network[i] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>



